@import "tailwindcss";
@plugin "daisyui";

:root {
  /* FONDO PRINCIPAL O SECCIONES */
  --color-bg: #0F222D;
  /* FONDOS DE TARJETAS O BLOQUES */
  --color-card: #2C3E47;
  /* COLOR PRINCIPAL / LLAMADAS A LA ACCIÓN */
  --color-primary: #EBAA00;
  /* COLOR DE TEXTO PRINCIPAL */
  --color-text: #EBE7D9;
  /* COLOR DE DETALLES O ACCENT */
  --color-accent: #5FB3A2;
  /* COLOR DE ERRORES */
  --color-error: #D96C6C;
}



