---
import { getCollection } from "astro:content";
import { useTranslations } from "../i18n/utils";
import SuccessCard from "./SuccessCard.astro";
import BookButton from "../components/BookButton.astro";
import Test from "./Test.astro";
const { currentLang = "es" } = Astro.props;
const t = useTranslations(currentLang);

const allBenefits = await getCollection("benefits");
const benefits = allBenefits.sort(
  (a: { data: { sortOrder?: number } }, b: { data: { sortOrder?: number } }) =>
    (a.data.sortOrder || 999) - (b.data.sortOrder || 999),
);
---

<section
  id="benefits"
  class="w-full pt-10 pb-40 px-4 bg-(--color-bg) mt-24 relative"
>
  <div class="max-w-6xl mx-auto">
    <h2
      transition:name="benefits"
      class="text-5xl font-extrabold mb-8 text-center text-white"
    >
      <span class="text-(--color-primary)">Optimiza,</span> Acelera y <span
        class="text-(--color-primary)">Automatiza</span
      >
    </h2>
    <h4 class="mb-20 text-xl text-center">
      Reduce los costes operativos y elimina tareas repetitivas con soluciones
      inteligentes que mejoran la eficiencia y la precisión en cada proceso.
    </h4>
    <div class="flex flex-wrap justify-center gap-8 mb-18">
      {
        benefits.map((benefit: { data: any; slug: string }, index: number) => {
          const { data, slug } = benefit;
          const title =
            currentLang === "en" && data.title_en ? data.title_en : data.title;
          const description =
            currentLang === "en" && data.description_en
              ? data.description_en
              : data.description;
          const { img } = data;

          return <SuccessCard title={title} text={description} img={img} />;
        })
      }
    </div>
    <BookButton currentLang={currentLang} />
  </div>

  <svg
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1200 120"
    preserveAspectRatio="none"
    class="absolute -bottom-px left-0 w-full h-auto block z-10"
  >
    <path
      d="M0,0 L892.25,114.72 L1200,0 L1200,120 L0,120 Z"
      class="shape-fill"
      fill="var(--color-bg-alt)"
      fill-opacity="1"></path>
  </svg>
</section>
