---
const {
  img = "https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp",
  title = "Card Title",
  text = "",
} = Astro.props;
---

<div
  class="group w-80 min-h-[450px] relative overflow-hidden rounded-xl bg-(--color-card)/90 backdrop-blur-xl shadow-sm transition-all duration-400 ease-in-out hover:scale-[1.02] hover:bg-(--color-card-alt)/90 hover:shadow-[0_10px_30px_rgba(0,0,0,0.2)]"
>
  <!-- Border Glow Effect -->
  <div
    class="absolute inset-0 rounded-xl p-[3px] opacity-0 transition-opacity duration-400 pointer-events-none group-hover:opacity-100 z-20"
    style="background: linear-gradient(45deg, transparent 5%, rgb(137, 24, 1) 50%, transparent 99%); -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); -webkit-mask-composite: xor; mask-composite: exclude;"
  >
  </div>

  <div class="relative z-10 h-full flex flex-col">
    <div class="h-1/2 p-4 shrink-0 flex items-center justify-center">
      <img
        src={img}
        alt={title}
        class="w-full h-full object-contain block rounded-2xl"
      />
    </div>

    <div
      class="h-1/2 pb-10 px-4 text-center flex flex-col items-center justify-between shrink-0"
    >
      <h2 class="text-2xl font-semibold mb-2 text-(--color-text-dark)">
        {title}
      </h2>
      <p class="text-sm leading-6 text-(--color-text-dark) opacity-90">
        {text}
      </p>
    </div>
  </div>
</div>
